name: poorspot
description: Application solidaire de repérage de spots.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Les packages que nous avons ajoutés
  flutter_map: ^7.0.0
  latlong2: ^0.9.0
  google_fonts: ^6.1.0
  # geolocator: ^11.0.0 # Décommentez si on réactive la géolocalisation plus tard

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true